<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Channable Connector</label>
    <label lang="en">Channable Connector</label>

    <version>1.2.3</version>
    <copyright>(c) by RESPONSE GmbH</copyright>
    <license>MIT</license>
    <link>http://www.response-gmbh.de/</link>
    <author>RESPONSE GmbH</author>
    <compatibility minVersion="5.2.27"/>

    <changelog version="1.2.3">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Texte sind jetzt sprachoptimiert.</li>
                    <li>Das Feld "translations" wurde entfernt.</li>
                    <li>Es werden nur noch die Kategorien des jeweiligen Sprach- oder Subshops übertragen.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Texts are now language optimized.</li>
                    <li>The field "translations" has been removed.</li>
                    <li>Only the categories of the respective language or subshop will be transferred.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Preislisten und URLs sind jetzt abhängig von der Shopeinstellung.</li>
                    <li>Unterschiedliche Plugin-Konfiguration für Sub- und Sprachshop.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Price lists and URLs are now dependent on the shop setting.</li>
                    <li>Different plugin configuration for sub and language shop.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Bilder korrigiert.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Correction of images.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Unterstützung der Sub und Sprach-Shops.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Support of sub and language shops.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.4">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Performance Optimierung.</li>
                    <li>Export von ausgeschlossenen Kundengruppen.</li>
                    <li>PHP Kompatibilitätsverbesserungen.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Performance optimization.</li>
                    <li>Export of excluded customer groups.</li>
                    <li>PHP compatibility improvements</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Performance Optimierung.</li>
                    <li>Export aller Preislisten.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Performance optimization.</li>
                    <li>Export of all price lists.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Optimierung der Varianten (Bilder, Eigenschaften, Konfiguration, URLs).</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Optimization of variants (images, properties, configuration, URLs).</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Korrektur der Varianten-Zuordnung im Artikel-Mapping.</li>
                    <li>Die Konfiguration "Alle Artikel übertragen" ist nun nach der Installation gesetzt.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Correction of variant assignment in article mapping.</li>
                    <li>The "Transfer all articles" configuration is now set after installation.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Neue Konfiguration, um alle Artikel ohne Artikelzuordnung zu exportieren.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Added configuration to transfer all articles without article mapping.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung.</changes>
        <changes lang="en">First release.</changes>
    </changelog>

</plugin>